<div class="flex justify-center px-10 mt-20">
  <div class="max-w-md flex-shrink-0 mr-8">
    <%= link_to movie_path(@movie['id']) do %>
      <%= image_tag("https://image.tmdb.org/t/p/w500#{@movie['poster_path']}", class: "rounded-lg shadow-lg", width: '300', height: '450') %>
    <% end %>
  </div>
  <div class="max-w-lg">
    <h1 class="text-2xl font-bold mb-4"><%= @movie["title"] %></h1>
    <p class="text-gray-700 mb-2"><strong class="font-bold">Movie Id : </strong><%= @movie['id'] %></p>
    <p class="text-gray-700 mb-2"><strong class="font-bold">Original Title : </strong><%= @movie['original_title'] %></p>
    <p class="text-gray-700 mb-2"><strong class="font-bold">Release Date : </strong><%= @movie['release_date'] %></p>
    <p class="text-gray-700 mb-2"><strong class="font-bold">Popularity : </strong><%= @movie['popularity'] %></p>
    <p class="text-gray-700 mb-4 text-justify"><strong class="font-bold">Overview</strong><br/><%= @movie['overview'] %></p>

    
    <div>
       <%= simple_form_for Review.new, url: movie_reviews_path(movie_id: @movie['id']), method: :post do |f| %>
        <%= f.input :description, label: 'Review', placeholder: 'Add a comment', label_html: {class: 'text-lg font-semibold'}, input_html: {class: "bg-gray-100 border border-gray-300 text-gray-800 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
        <%puts "Movie ID: #{@movie['id']}"%>
        <%= f.submit 'Post', class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-md mt-2" %>
      <% end %>
    </div>
  </div>
</div>

